name: My Workflow

on:
  pull_request:
    branches: [ master ]

jobs:
  myjob:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.0
      - name: Setup Node.js environment
        uses: actions/setup-node@v4.0.4
      - name: Install Node.Js dependencies
        run: npm i
      - name: ESLint
        run: npm lint
      - name: Generate Documentation
        uses: vargiuscuola/genshdoc@v1.0
